*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    outline: solid 1px red;
}


table tr td{
    border: solid 3px;
    height: 50px;
    
}
table{
    border-collapse: collapse;
    width:80%;
    margin: 50px auto 0;
}
tr{
   
    border: solid 1px black;
    
}
.hidden{
    visibility: collapse;
}

